[submodule "projects/local-kind-cluster"]
	path = projects/local-kind-cluster
	url = https://github.com/elmazzun/local-kind-cluster
[submodule "projects/node-operator"]
	path = projects/node-operator
	url = https://github.com/elmazzun/node-operator
[submodule "projects/ebpf-lab"]
	path = projects/ebpf-lab
	url = https://github.com/elmazzun/ebpf-lab
